TrainInfoManage/EasyFrom/Web References/WebFileService/FileTransportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="FileTransportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IFileTransportService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://123.85.195.43:8732/MAP/FileTransportService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://123.85.195.43:8732/MAP/FileTransportService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://123.85.195.43:8732/MAP/FileTransportService/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://123.85.195.43:8732/MAP/FileTransportService/?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFileTransportService_GetFileList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileList" />
  </wsdl:message>
  <wsdl:message name="IFileTransportService_GetFileList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileListResponse" />
  </wsdl:message>
  <wsdl:message name="IFileTransportService_LogProFilePath_InputMessage">
    <wsdl:part name="parameters" element="tns:LogProFilePath" />
  </wsdl:message>
  <wsdl:message name="IFileTransportService_LogProFilePath_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogProFilePathResponse" />
  </wsdl:message>
  <wsdl:message name="IFileTransportService_UploadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="IFileTransportService_UploadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IFileTransportService_DeleteFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFile" />
  </wsdl:message>
  <wsdl:message name="IFileTransportService_DeleteFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFileResponse" />
  </wsdl:message>
  <wsdl:message name="IFileTransportService_DeleteImgFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteImgFile" />
  </wsdl:message>
  <wsdl:message name="IFileTransportService_DeleteImgFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteImgFileResponse" />
  </wsdl:message>
  <wsdl:message name="IFileTransportService_GetFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFile" />
  </wsdl:message>
  <wsdl:message name="IFileTransportService_GetFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileResponse" />
  </wsdl:message>
  <wsdl:message name="IFileTransportService_UpCEFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpCEFile" />
  </wsdl:message>
  <wsdl:message name="IFileTransportService_UpCEFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpCEFileResponse" />
  </wsdl:message>
  <wsdl:message name="IFileTransportService_DownLoad_InputMessage">
    <wsdl:part name="parameters" element="tns:DownLoad" />
  </wsdl:message>
  <wsdl:message name="IFileTransportService_DownLoad_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownLoadResponse" />
  </wsdl:message>
  <wsdl:portType name="IFileTransportService">
    <wsdl:operation name="GetFileList">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransportService/GetFileList" message="tns:IFileTransportService_GetFileList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransportService/GetFileListResponse" message="tns:IFileTransportService_GetFileList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogProFilePath">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransportService/LogProFilePath" message="tns:IFileTransportService_LogProFilePath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransportService/LogProFilePathResponse" message="tns:IFileTransportService_LogProFilePath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransportService/UploadFile" message="tns:IFileTransportService_UploadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransportService/UploadFileResponse" message="tns:IFileTransportService_UploadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransportService/DeleteFile" message="tns:IFileTransportService_DeleteFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransportService/DeleteFileResponse" message="tns:IFileTransportService_DeleteFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteImgFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransportService/DeleteImgFile" message="tns:IFileTransportService_DeleteImgFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransportService/DeleteImgFileResponse" message="tns:IFileTransportService_DeleteImgFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransportService/GetFile" message="tns:IFileTransportService_GetFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransportService/GetFileResponse" message="tns:IFileTransportService_GetFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpCEFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransportService/UpCEFile" message="tns:IFileTransportService_UpCEFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransportService/UpCEFileResponse" message="tns:IFileTransportService_UpCEFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownLoad">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransportService/DownLoad" message="tns:IFileTransportService_DownLoad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransportService/DownLoadResponse" message="tns:IFileTransportService_DownLoad_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFileTransportService" type="tns:IFileTransportService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFileList">
      <soap:operation soapAction="http://tempuri.org/IFileTransportService/GetFileList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogProFilePath">
      <soap:operation soapAction="http://tempuri.org/IFileTransportService/LogProFilePath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/IFileTransportService/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap:operation soapAction="http://tempuri.org/IFileTransportService/DeleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteImgFile">
      <soap:operation soapAction="http://tempuri.org/IFileTransportService/DeleteImgFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <soap:operation soapAction="http://tempuri.org/IFileTransportService/GetFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpCEFile">
      <soap:operation soapAction="http://tempuri.org/IFileTransportService/UpCEFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownLoad">
      <soap:operation soapAction="http://tempuri.org/IFileTransportService/DownLoad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IFileTransportService" type="tns:IFileTransportService">
    <wsp:PolicyReference URI="#NetTcpBinding_IFileTransportService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetFileList">
      <soap12:operation soapAction="http://tempuri.org/IFileTransportService/GetFileList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogProFilePath">
      <soap12:operation soapAction="http://tempuri.org/IFileTransportService/LogProFilePath" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="http://tempuri.org/IFileTransportService/UploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap12:operation soapAction="http://tempuri.org/IFileTransportService/DeleteFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteImgFile">
      <soap12:operation soapAction="http://tempuri.org/IFileTransportService/DeleteImgFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <soap12:operation soapAction="http://tempuri.org/IFileTransportService/GetFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpCEFile">
      <soap12:operation soapAction="http://tempuri.org/IFileTransportService/UpCEFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownLoad">
      <soap12:operation soapAction="http://tempuri.org/IFileTransportService/DownLoad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileTransportService">
    <wsdl:port name="BasicHttpBinding_IFileTransportService" binding="tns:BasicHttpBinding_IFileTransportService">
      <soap:address location="http://123.85.195.43:8732/MAP/FileTransportService/" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IFileTransportService" binding="tns:NetTcpBinding_IFileTransportService">
      <soap12:address location="net.tcp://123.85.195.43:8733/MAP/FileTransportService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://123.85.195.43:8733/MAP/FileTransportService/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>